html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.col-md-2{
	text-align: center;
	padding: 5px auto;
	padding-top: 50px;
}
.col-md-1{
        padding: 5px auto;
	padding-top: 50px;
}
.col-md-4{
        text-align: center;
        padding: 5px auto;
}
.well{
	text-align: center;
	color: #FFFFFF;
	background: #0E497B !important;
	margin-top: 50px;
}
.submit:hover{
	background-color: #0E497B;
	color: white;
}
img {
    max-width: 70%;
    height: auto;
    width: auto\9; /* ie8 */
}	
